.e1
{
    /* background-color: blue; */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: small;
}
#e2
{
    background-color:pink;
}
table th
{
    background-color: aqua;
}