
            #style1
            {
                /* color: red; */
                background-color: red;
            }
            #style2
            {
                background-color: bisque;
                font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            }
            .style3
            {
                /* font-style: italic; */
                background-color: blue;
            }
     